@model Northwind_John.Models.dept

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>dept</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dept_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dept_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dept_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
